<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.security.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.example.security.model.Menu">
    <!--@mbg.generated-->
    <!--@Table menu-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parentid" jdbcType="BIGINT" property="parentid" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `NAME`, url, parentid, permission
  </sql>
</mapper>